@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility classes */
h1 {
  @apply mt-10 text-5xl font-bold tracking-tight text-black sm:text-6xl;
}

h2 {
  @apply mt-5 mb-2 text-4xl font-bold tracking-tight text-black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.btn {
  @apply py-2 px-4 font-semibold rounded-md focus:outline-none focus:ring-2 focus:ring-opacity-75 text-white hover:text-white;
}

.btn-primary {
  @apply text-white hover:bg-emerald-700 focus:ring-emerald-500;
  background-color: #4D7088;
}

.btn-secondary {
  @apply bg-gray-600 text-white hover:bg-gray-700 focus:ring-gray-500;
}

.btn-ghost {
  @apply bg-gray-500 text-white hover:bg-gray-700 focus:ring-gray-500 bg-opacity-70;
}

.input-txt {
  @apply py-2 px-4 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
}

.input-select {
  @apply input-txt
}

.input-label {
  @apply text-lg font-semibold text-gray-700 md:w-32;
}